.container{
    background-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    border-color: black;
    border-style: solid;
    width: 800px;
    height:400px;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    box-shadow: 10px 10px 15px 2px;
    border-radius: 15px;

    
}

.circle{
    background-color: red;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin:auto;

    

    

    



}